:root {
  --bg-color: #151515;
  --text-color: white;
  --warning-text: rgb(255, 0, 0);
  --red-gradient: #f74343;
  --inv-gradient: rgba(243, 128, 128, 0);
  --blue-gradient: #3b7fed;
}

html {
  background-color: var(--bg-color);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color) !important;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.privacy-background {
  background: var(--bg-color);
  padding: 40px;
}

.content-data {
  padding-top: 30vh;
}

.about-content {
  min-height: 100vh;
}

.title-top {
  padding-top: 4em;
  color: inherit;
}

.title-down {
  padding-bottom: 1rem;
  color: inherit;
}

.text-privacy {
  color: inherit;
  font-weight: 500;
}

.link {
  color: inherit;
  font-size: 10px;
}

.logo-main {
  width: 250px;
}

.help-background {
  background: var(--bg-color);
  padding: 40px;
  min-height: 100vh;
}

.home-user {
  min-height: 100vh;
  background: var(--bg-color);
  color: inherit;
}

.text-user {
  color: inherit;
}

.text-warning {
  color: var(--warning-text);
}

.home {
  min-height: 100vh;
  /*background: linear-gradient(155deg, #f74343 50%, #3b7fed 50%);*/
  background: linear-gradient(
      135deg,
      var(--red-gradient) 20%,
      var(--inv-gradient) 10%
    ),
    linear-gradient(135deg, var(--bg-color) 80%, var(--blue-gradient) 20%);
}

.home-alt {
  min-height: 100vh;
  /*background: linear-gradient(155deg, #f74343 50%, #3b7fed 50%);*/
  background: linear-gradient(
      45deg,
      var(--red-gradient) 20%,
      var(--inv-gradient) 10%
    ),
    linear-gradient(45deg, var(--bg-color) 80%, var(--blue-gradient) 20%);
}

.text {
  color: inherit;
  font-weight: 500;
}

.cookie-text {
  color: inherit;
  font-size: 12px;
}

.loading-screen {
  background: var(--bg-color);
  min-height: 100vh;
}

.load-cont {
  padding-top: 50vh;
}

.circular--square {
  border-radius: 50%;
  width: 50px;
}

.logo {
  height: 50px;
}

.footer {
  margin-top: -30px;
  min-height: 100px;
  background: black;
}

.text-nav {
  color: var(--text-color);
}

.heart {
  color: red;
  margin: 0;
  display: inline;
}

.text-foot-name {
  color: inherit;
  font-weight: 700;
}

.fa {
  padding-top: 12px;
  font-size: 15px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 0px 10px;
}

.fa:hover {
  opacity: 0.5;
}

.foottext {
  padding-top: 17px;
}

@media only screen and (max-height: 800px) {
  .title-top {
    padding-top: 1.5em;
  }
  .home {
    background: linear-gradient(
        135deg,
        var(--red-gradient) 10%,
        var(--inv-gradient) 10%
      ),
      linear-gradient(135deg, var(--bg-color) 90%, var(--blue-gradient) 10%);
  }
  .home-alt {
    height: 100vh;
    background: linear-gradient(
        45deg,
        var(--red-gradient) 10%,
        var(--inv-gradient) 10%
      ),
      linear-gradient(45deg, var(--bg-color) 90%, var(--blue-gradient) 10%);
    padding-bottom: 1rem;
  }
  .logo-main {
    width: 150px;
  }
  .content-data {
    padding-top: 9em;
  }
}
