
.privacy-background{
  background: #151515;
  padding: 40px;
}

.content-data{
  padding-top: 30vh;
}

.title-top{
  padding-top: 12vh;
  padding-left: 0%;
  color: white;
}

.title-down{
  padding-top: 0vh;
  padding-left: 0%;
  color: white;
}

.text-privacy{
  color: white;
  font-weight: 500;
}

.link{
  color: white;
  font-size: 10px;
}

.logo-main{
  padding-top: 5vh;
  width: 250px;
}